<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <!-- 导航栏商标 -->
    <a class="navbar-brand" href="#">medical-image check</a>

    <!-- 导航入口 -->
    <div>
      <ul class="navbar-nav">
        <!-- 条目 -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tasks:image_submit' %}">Home</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="{% url 'tasks:submit' %}">Submit</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
